<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controlador.js"></script>
  </head>
  <body  ng-app = "starter">

    <div ng-controller = "CalcController as ctrl">
         <p>Enter a number: <input type = "number" ng-model = "ctrl.number" /></p>
         <button ng-click = "ctrl.cuadrado()">X<sup>2</sup></button>
         <p>Resultado: {{ctrl.result}}</p>
      </div>
      
      <script>
         
      </script>
  </body>
</html>
